* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(210, 46%, 95%);
}
.wrapper-grid {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-template-rows: 280px 280px;
  gap: 25px;
}

.card {
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 56px -42px rgb(0 0 0 / 75%);
  -moz-box-shadow: 10px 10px 56px -42px rgb(0 0 0 / 75%);
  box-shadow: 10px 10px 56px -42px rgb(0 0 0 / 75%);
}
.heading {
  display: flex;
  margin-bottom: 15px;
}
.image {
  width: 50px;
}
.image img {
  width: 35px;
  border-radius: 50%;
  border: 2px black solid;
}
.name {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 16px;
}
.name span {
  opacity: 0.5;
}
.desc-bold {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 18px;
  z-index: 100;
}
.desc {
  opacity: 0.7;
  letter-spacing: 0.2px;
}
/* Card 1 */
.cd-1 {
  grid-column: span 2;
  background-color: hsl(263, 55%, 52%);
  position: relative;
  z-index: -2;
}
.cd-1::after {
  content: url("../images/bg-pattern-quotation.svg");
  position: absolute;
  top: 0;
  left: 70%;
  z-index: -1;
}
.cd-1 img {
  border-color: hsla(0, 0%, 81%, 0.5);
}
.cd-1 .heading {
  color: hsl(0, 0%, 81%);
}
.cd-1 .desc-bold {
  color: hsl(0, 0%, 81%);
  margin-bottom: 12px;
}
.cd-1 .desc {
  color: hsl(0, 0%, 81%);
  line-height: 19px;
  letter-spacing: 0px;
}
/* Card 2 */
.cd-2 {
  background-color: hsl(217, 19%, 35%);
}
.cd-2 img {
  border-color: hsla(0, 0%, 81%, 0.5);
}
.cd-2 .heading {
  color: hsl(210, 46%, 95%);
}
.cd-2 .desc-bold {
  color: hsl(210, 46%, 95%);
  margin-bottom: 12px;
}
.cd-2 .desc {
  color: hsl(210, 46%, 95%);
  line-height: 19px;
}
/* Card 3 */
/* Card 5 */
.cd-5 {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: white;
}
.cd-3 {
  background-color: white;
}
.cd-3 img,
.cd-5 img {
  border-color: transparent;
}
.cd-3 .heading,
.cd-5 .heading {
  color: hsl(217, 19%, 35%);
}
.cd-3 .desc-bold,
.cd-5 .desc-bold {
  color: hsl(217, 19%, 35%);
  margin-bottom: 14px;
  font-size: 21px;
}
.cd-3 .desc,
.cd-5 .desc {
  color: hsl(217, 19%, 35%);
  line-height: 18px;
}
/* Card 4 */
.cd-4 {
  grid-column: span 2;
  background-color: hsl(219, 29%, 14%);
}
.cd-4 img {
  border-color: hsl(263, 55%, 52%);
}
.cd-4 .heading {
  color: hsl(210, 46%, 95%);
}
.cd-4 .desc-bold {
  color: hsl(210, 46%, 95%);
  margin-bottom: 16px;
}
.cd-4 .desc {
  color: hsl(210, 46%, 95%);
  line-height: 19px;
  letter-spacing: 0.2px;
}

@media (max-width: 475px) {
  body {
    overflow: visible;
    align-items: initial;
    height: 280vh;
  }
  .wrapper-grid {
      margin-top: 40px;
    grid-template-columns: 80%;
    grid-template-rows: repeat(8, 260px);
    width: 95%;
    place-content: center;
    align-content: initial;
  }
  .desc{
    font-size: 11px;
  }
  .desc-bold{
      font-size: 19px;
  }
  .cd-1 {
    grid-column: 1;
    grid-row: span 2;
  }
  .cd-1::after{
      left: 55%;
  }
  .cd-2 {
    grid-column: 1;
    grid-row: span 1;
  }
  .cd-3 {
    grid-column: 1;
    grid-row: 4 / 4;
  }
  .cd-4 {
    grid-column: 1;
    grid-row: 5 / span 2;
  }
  .cd-5 {
    grid-column: 1;
    grid-row: 7 / span 2;
  }
}
